<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

<!--
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.0/bluebird.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
-->
    <script src="static/cy/js/jquery-2.0.3.min.js"></script>
    <script src="static/cy/js/bluebird.js"></script>
    <script src="static/cy/js/fetch.min.js"></script>
    <script src="static/cy/js/cytoscape.min.js"></script>

<!--
    <script src="https://unpkg.com/cytoscape-context-menus/cytoscape-context-menus.js"></script>
    <link href="https://unpkg.com/cytoscape-context-menus/cytoscape-context-menus.css" rel="stylesheet" type="text/css" />
-->
    <script src="static/cy/js/cytoscape-context-menus.js"></script>
    <link href="static/cy/css/cytoscape-context-menus.css" rel="stylesheet" type="text/css" />

<!--
    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />

    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/js/all.min.js"></script>
-->
    <script src="static/cy/js/popper.js"></script>
    <script src="static/cy/js/cytoscape-popper.js"></script>
    <script src="static/cy/js/index.all.min.js"></script>
    <link href="static/cy/css/index.css" rel="stylesheet" type="text/css" />

    <script src="static/cy/js/layout-base.js"></script>
    <script src="static/cy/js/cose-base.js"></script>
    <script src="static/cy/js/cytoscape-fcose.js"></script>
    <script src="static/cy/js/all.min.js"></script>

    <style>
        body {
            font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
            font-size: 14px;
        }

        #cy {
            position: absolute;
            left: 0;
            top: 110;
            bottom: 0;
            right: 0;
            z-index: 999;
        }

        h1 {
            color: #000000;
            opacity: 1;
            font-size: 2.5em;
            font-weight: bold;
        }

    </style>
    <style>
        #loading {
            position: absolute;
            display: block;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            margin-top: -0.5em;
            font-size: 2em;
            color: #000;
        }
    </style>
</head>

<body>

<style>
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}
</style>

<script>
function repos_cy() {
  document.getElementById(`cy`)._cyreg.cy.fit(20);
}
</script>

    <center>
        <h1>{%title%}</h1>
        <button type="button" class="btn btn-default repos_btn" onclick="repos_cy()"><i class="fa fa-sync-alt" aria-hidden="true"></i></button>
        <div class="myDIV">Legend (mouseover here to show)</div>
        <div class="hide">
<table>
<tr>
<td style="display: table-cell;vertical-align: top">
    <div id='colorTable'></div>
</td>
<td style="display: table-cell;vertical-align: top">
    <div id='shapeTable'></div>
</td>
</tr>
</table>
        </div>
    </center>
    <div id="cy"></div>
    <div id="loading"><img id="loading-image" src="static/images/loader.gif" alt="Loading..." width="150" height="150" /></div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        setTimeout(function(){ genGraph(); }, 1000);
    });

    function genGraph() {
        function makePopper(ele) {
            let ref = ele.popperRef();

            ele.tippy = tippy(ref, {
                content: () => {
                    let content = document.createElement('div');

                    content.innerHTML = ele.data('title');

                    return content;
                },
                trigger: 'manual'
            });
        }

        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

            layout: {
                name: 'fcose',
                randomize: true,
                animate: false,

                stop: function() {
                    $('#loading').hide();
                },
            },

            style: [
                {
                    selector: 'node',
                    style: {
                        'content': 'data(name)',
                        'background-color': 'data(color)',
                        'shape': 'data(shape)',
                        'width': 'data(size)',
                        'height': 'data(size)',
                        'border-width': '0.09px',
                        'border-style': 'solid',
                        'border-color': '#E5E5E5',
                        'font-size':'8px'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'source-label': 'data(sourceLabel)',
                        'target-label': 'data(targetLabel)',
                        'width': 'data(weight)',
                        'opacity': 0.5,
                        'line-color':'data(color)',
                        'arrow-scale': 1.1,
                        'curve-style': 'unbundled-bezier',
                        'control-point-distance': 7,
                        'control-point-weight': '0.5',
                        'target-arrow-shape':'data(arrow)',
                        'target-arrow-color':'data(color)',
                        'font-size':'20px',
                        'color':'red',
                        'source-text-offset':'7px',
                        'target-text-offset':'7px',
                    }
                },

                {
                    selector: ':selected',
                    style: {
                        'border-color': 'red',
                        'border-width': '2px',
                    }
                },

                {
                    selector: 'edge:selected',
                    style: {
                        'line-color': 'red',
                        'target-arrow-color':'red',
                        'width': '2px',
                    }
                },
            ],

            elements: JSON.parse(`{%data%}`),
        });

        cy.contextMenus({
            menuItems: [
                {
                    id: 'hide',
                    content: 'hide selected',
                    tooltipText: 'hide selected',
                    selector: '*',
                    onClickFunction: function (event) {
                        cy.$(':selected').hide();
                        curr_node = (event.target || event.cyTarget);
                        curr_node.hide();
                    },
                    disabled: false
                },
                {
                    id: 'show',
                    content: 'show selected only',
                    tooltipText: 'show selected only',
                    selector: '*',
                    onClickFunction: function (event) {
                        cy.$(':unselected').hide();
                        curr_node = (event.target || event.cyTarget);
                        curr_node.show();
                    },
                    disabled: false
                },
                {
                    id: 'unhide',
                    content: 'unhide all',
                    tooltipText: 'unhide all',
                    selector: '*',
                    onClickFunction: function (event) {
                        cy.$(':unselected').show();
                        cy.$(':selected').show();
                    },
                    disabled: false
                },
            ]
        });

        cy.ready(function() {
            cy.elements().forEach(function(ele) {
                makePopper(ele);
            });
        });

        cy.nodes().unbind('mouseover');
        cy.nodes().bind('mouseover', (event) => event.target.tippy.show());

        cy.nodes().unbind('mouseout');
        cy.nodes().bind('mouseout', (event) => event.target.tippy.hide());

        var minX=null, minY=null, maxX=null, maxY=null;
        cy.nodes().forEach(function(ele) {
            var x = ele.position().x;
            var y = ele.position().y;

            if (!minX || x < minX) minX = x;
            if (!maxX || x > maxX) maxX = x;
            if (!minY || y < minY) minY = y;
            if (!maxY || y > maxY) maxY = y;
        });
        minX -= 50; minY -= 50;
        maxX += 50; maxY += 50;
        edge_weight = (maxX - minX)/1000;
        color = '#777777';
        shape = 'ellipse';
        weight = 75;
        cy.add([{group:'nodes', data:{ id:'nodeA', name:'', weight:weight, shape:shape, size:1, color:color}, position:{x:minX, y:minY}},
                {group:'nodes', data:{ id:'nodeB', name:'', weight:weight, shape:shape, size:1, color:color}, position:{x:minX, y:maxY}},
                {group:'nodes', data:{ id:'nodeC', name:'', weight:weight, shape:shape, size:1, color:color}, position:{x:maxX, y:maxY}},
                {group:'nodes', data:{ id:'nodeD', name:'', weight:weight, shape:shape, size:1, color:color}, position:{x:maxX, y:minY}},

                {group:'edges', data:{ id:'border1', weight:edge_weight, source:'nodeA', target:'nodeB', color:color, arrow:'none', sourceLabel:'', targetLabel:''}},
                {group:'edges', data:{ id:'border2', weight:edge_weight, source:'nodeB', target:'nodeC', color:color, arrow:'none', sourceLabel:'', targetLabel:''}},
                {group:'edges', data:{ id:'border3', weight:edge_weight, source:'nodeC', target:'nodeD', color:color, arrow:'none', sourceLabel:'', targetLabel:''}},
                {group:'edges', data:{ id:'border4', weight:edge_weight, source:'nodeD', target:'nodeA', color:color, arrow:'none', sourceLabel:'', targetLabel:''}},
        ]);
    }
</script>
<script src="static/images.js"></script>
<script>
var colors = {%colors%};
var shapes = {%shapes%};
var hasReversed = {%has_reversed%};
$(document).ready(function() {
    var $table = $('<table/>');
    $.each(colors, function(key, value) {
        $table.append( '<tr><td bgcolor="' + value + '">' + key + '</td></tr>' );
    });
    if (hasReversed) {
        $table.append( '<tr><td style="display: table-cell">(*) nodes with seq<br>in reverse complement <br>of the original one</td></tr>' );
    }
    $('#colorTable').append($table);

    var $table = $('<table/>');
    $.each(shapes, function(key, value) {
        $table.append( '<tr><td><img src="' + images['cy'][value] + ' " width="20"></td><td>' + key + '</td></tr>' );
    });
    $('#shapeTable').append($table);
});
</script>
</html>
