{% load static %}
<head>
  <title>panGraph</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<script src="{% static 'pangraphviewer/js/jquery.min.js' %}"></script>
<script src="{% static 'pangraphviewer/js/bootstrap.bundle.min.js' %}"></script>
<link href="{% static "pangraphviewer/css/bootstrap.min.css" %}" rel="stylesheet" />

<link href="{% static "pangraphviewer/css/vis.css" %}" rel="stylesheet" />
<script src="{% static 'pangraphviewer/js/vis-network.min.js' %}"></script>

<link href="{% static "pangraphviewer/css/style.css" %}" rel="stylesheet" />
<link rel="stylesheet" href={% static 'pangraphviewer/css/upload.css' %}>

</head>
<body>
    <div class="container mt-3" id='page_content'>
        {% include 'pangraphviewer/navbar4.html' %}
        <br>
        {% block content %}
        {% endblock content %}
    </div>
</body>
